@page
@model WebApp.Pages.Orden.EditModel
@{ }


<div id="AppEdit" class="container">
    <div class="card">
        <div class="card-header">
            @(Model.id.HasValue ? "Actualizar" : "Nuevo")
        </div>
        <div class="card-body">
            <form id="FormEdit" method="post">
                <input type="hidden" asp-for="Entity.IdOrden" />

                <div class="form-group mb-3">
                    <label for="Entity.IdProducto" class="form-label">IdProducto</label>
                    <input type="text" class="form-control" asp-for="Entity.IdProducto" maxlength="250" required>
                </div>
                <div class="form-group mb-3">
                    <label for="Entity.CantidadProducto" class="form-label">Cantidad</label>
                    <input type="text" class="form-control" asp-for="Entity.CantidadProducto" maxlength="250" required>
                </div>

                <div class="form-group form-check form-switch">
                    <input type="checkbox" class="form-check-input" asp-for="Entity.Estado" value="true">
                    <label for="Entity.Estado" class="form-check-label"> </label>
                </div>

                <div class="row">
                    <div class="col-4">
                        <button type="submit" class="btn btn-outline-primary">
                            @(Model.id.HasValue?"Actualizar":"Agregar")
                        </button>
                    </div>
                </div>

            </form>


        </div>
    </div>

</div>

@section Scripts{
<script>
    $(document).ready(function () {
        $('#FormEdit').bootstrapValidator({
            // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                Cantidad: {
                        stringLength: {
                            min: 1,
                            max: 10,
                            message: 'No puede ir vació'
                        },
                        regexp: {
                            regexp: /^[0-9]+$/,
                            message: 'Solo puede contener numeros'
                        }
                    }
                }
            }
        });
    });
</script>
    <script defer src="~/App/TipoInquilino/Edit.js"></script>

}